h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    padding: 50px;
}

@media screen and (max-width: 933px) {
    .product-container-with-products {
        grid-template-columns: 1fr 1fr 1fr;
        /* overflow: scroll; */
    }
}

@media screen and (max-width: 705px) {
    .product-container-with-products {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: -75em;
    }
}

@media screen and (max-width: 645px) {
    .product-container-with-products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 630px) {
    .product-container-with-products {
        grid-template-columns: 1fr;
    }
}